#main { 
    background-color: #ffffff;
}

#toc {
	font-size: 14px;
	font-family:"Source Sans Pro", Tahoma, Arial, sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:13px;
	text-transform:uppercase;
	letter-spacing:2px;
	text-decoration:none;
	text-align:center;
	color:#202020;
}

#sphoto {
	margin: 0px;
	/*height: "25%"; this is bad, it is % of image size. Need this to be % of browser 
	width: "100%"*/
}

body {
	font-family: "Open Sans", Tahoma, Arial, sans-serif;
	padding: 50px 0;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	margin:0px;
}

h1 { /*big red heading*/
	font-family: "Playfair Display SC", garamond;
    color: #cc0000; 
    font-size: 42px;
	text-align: center;
}

h2 { /*event headings*/
	font-family: "Playfair Display SC", garamond;
    color: #202020; 
    font-size: 18px;
	text-align: center;
}

.cent {
	font-family: "Open Sans", Tahoma, Arial, sans-serif;
	font-size: 16px;
	color: #202020;
	text-align: center;
	max-width: 80%;
	padding-left:10%;
	padding-right:10%;
}

.just {
	font-family: "Open Sans", Tahoma, Arial, sans-serif;
	font-size: 16px;
	color: #202020;
	text-align: justify;
	max-width: 80%;
	padding-left:10%;
	padding-right:10%;
}

/* unvisited link */
a:link {
    color: #202020;
}

/* visited link */
a:visited {
    color: #202020;
}

/* mouse over link */
a:hover {
    color: #E60000;
}

/* selected link */
a:active {
     color: #E60000;
}
